<!-- FOOTER -->
<footer id="footer">
  <!-- SLIDER AND LINKS -->
  <section id="footer-slider-and-links">
    <div class="container">
      <div class="left">
        <div class="controls">
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <button class="btn-play" aria-label="slider play"></button>
          <button class="btn-pause on" aria-label="slider pause"></button>
        </div>

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="#">
                <img
                  src="/src/assets/images/footer_logo_slider_01.jpg"
                  alt="대한노인회부산광역시연합회(새창)"
                />
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <img
                  src="/src/assets/images/footer_logo_slider_02.jpg"
                  alt="국가상징(새창)"
                />
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <img
                  src="/src/assets/images/footer_logo_slider_03.jpg"
                  alt="부산진구내 자동심장충격기 찾기(새창)"
                />
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <img
                  src="/src/assets/images/footer_logo_slider_04.jpg"
                  alt="워크넷 대한민국 모든 일자리 정보(새창)"
                />
              </a>
            </div>

            <div class="swiper-slide">
              <a href="#">
                <img
                  src="/src/assets/images/footer_logo_slider_05.jpg"
                  alt="부산진구청(새창)"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="right">
        <ul>
          <li>
            <a href="#" class="icon-building">청사안내도</a>
          </li>

          <li>
            <a href="#" class="icon-tree">조직도</a>
          </li>

          <li>
            <a href="#" class="icon-search">직원검색</a>
          </li>

          <li>
            <a href="#" class="icon-phone">전화번호</a>
          </li>

          <li>
            <a href="#" class="icon-map">생활지도</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- // SLIDER AND LINKS -->

  <!-- SHORTCUT -->
  <section id="footer-shortcut">
    <div class="container">
      <ul class="dropdown-list">
        <!-- 1 / 4 -->
        <li class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="dropdown-content-department"
            aria-label="부서별 바로가기"
          >
            부서별 바로가기
            <i class="icon-plus"></i>
          </button>

          <ul
            id="dropdown-content-department"
            class="dropdown-content"
            role="menu"
          >
            <li role="none"><a role="menuitem" href="#">기획조정실</a></li>
            <li role="none"><a role="menuitem" href="#">감사담당관</a></li>
            <li role="none"><a role="menuitem" href="#">행정자치과</a></li>
            <li role="none"><a role="menuitem" href="#">재무과</a></li>
            <li role="none"><a role="menuitem" href="#">세무1과</a></li>
            <li role="none"><a role="menuitem" href="#">세무2과</a></li>
            <li role="none"><a role="menuitem" href="#">민원여권과</a></li>
            <li role="none"><a role="menuitem" href="#">문화관광과</a></li>
            <li role="none"><a role="menuitem" href="#">지역경제과</a></li>
            <li role="none"><a role="menuitem" href="#">일자리정책과</a></li>
            <li role="none"><a role="menuitem" href="#">자원순환과</a></li>
            <li role="none"><a role="menuitem" href="#">환경위생과</a></li>
            <li role="none"><a role="menuitem" href="#">복지정책과</a></li>
            <li role="none"><a role="menuitem" href="#">교육체육과</a></li>
            <li role="none"><a role="menuitem" href="#">기초생활보장과</a></li>
            <li role="none"><a role="menuitem" href="#">복지사업과</a></li>
            <li role="none"><a role="menuitem" href="#">아동청소년과</a></li>
            <li role="none"><a role="menuitem" href="#">안전도시과</a></li>
            <li role="none"><a role="menuitem" href="#">도로관리과</a></li>
            <li role="none"><a role="menuitem" href="#">교통행정과</a></li>
            <li role="none"><a role="menuitem" href="#">주차관리과</a></li>
            <li role="none"><a role="menuitem" href="#">창조도시과</a></li>
            <li role="none"><a role="menuitem" href="#">건설과</a></li>
            <li role="none"><a role="menuitem" href="#">건축과</a></li>
            <li role="none"><a role="menuitem" href="#">건축관리과</a></li>
            <li role="none"><a role="menuitem" href="#">공원녹지과</a></li>
            <li role="none"><a role="menuitem" href="#">토지정보과</a></li>
            <li role="none"><a role="menuitem" href="#">보건소</a></li>
            <li role="none" class="btn-close-wrap">
              <button class="btn-close" role="menuitem">닫기</button>
            </li>
          </ul>
        </li>
        <!-- // 1 / 4 -->

        <!-- 2 / 4 -->
        <li class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="dropdown-content-community-service-center"
            aria-label="주민센터 바로가기"
          >
            주민센터 바로가기
            <i class="icon-plus"></i>
          </button>

          <ul
            id="dropdown-content-community-service-center"
            class="dropdown-content"
            role="menu"
          >
            <li role="none"><a href="#" role="menuitem">부전1동</a></li>
            <li role="none"><a href="#" role="menuitem">부전2동</a></li>
            <li role="none"><a href="#" role="menuitem">연지동</a></li>
            <li role="none"><a href="#" role="menuitem">초읍동</a></li>
            <li role="none"><a href="#" role="menuitem">양정1동</a></li>
            <li role="none"><a href="#" role="menuitem">양정2동</a></li>
            <li role="none"><a href="#" role="menuitem">전포1동</a></li>
            <li role="none"><a href="#" role="menuitem">전포2동</a></li>
            <li role="none"><a href="#" role="menuitem">부암1동</a></li>
            <li role="none"><a href="#" role="menuitem">부암3동</a></li>
            <li role="none"><a href="#" role="menuitem">당감1동</a></li>
            <li role="none"><a href="#" role="menuitem">당감2동</a></li>
            <li role="none"><a href="#" role="menuitem">당감4동</a></li>
            <li role="none"><a href="#" role="menuitem">가야1동</a></li>
            <li role="none"><a href="#" role="menuitem">가야2동</a></li>
            <li role="none"><a href="#" role="menuitem">개금1동</a></li>
            <li role="none"><a href="#" role="menuitem">개금2동</a></li>
            <li role="none"><a href="#" role="menuitem">개금3동</a></li>
            <li role="none"><a href="#" role="menuitem">범천1동</a></li>
            <li role="none"><a href="#" role="menuitem">범천2동</a></li>
            <li role="none" class="btn-close-wrap">
              <button class="btn-close" role="menuitem">닫기</button>
            </li>
          </ul>
        </li>
        <!-- // 2 / 4 -->

        <!-- 3 / 4 -->
        <li class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="dropdown-content-district"
            aria-label="시ㆍ자치구 바로가기"
          >
            시ㆍ자치구 바로가기
            <i class="icon-plus"></i>
          </button>

          <ul
            id="dropdown-content-district"
            class="dropdown-content"
            role="menu"
          >
            <li role="none"><a href="#" role="menuitem">중구청</a></li>
            <li role="none"><a href="#" role="menuitem">서구청</a></li>
            <li role="none"><a href="#" role="menuitem">동구청</a></li>
            <li role="none"><a href="#" role="menuitem">영도구청</a></li>
            <li role="none"><a href="#" role="menuitem">부산진구청</a></li>
            <li role="none"><a href="#" role="menuitem">동래구청</a></li>
            <li role="none"><a href="#" role="menuitem">남구청</a></li>
            <li role="none"><a href="#" role="menuitem">북구청</a></li>
            <li role="none"><a href="#" role="menuitem">해운대구청</a></li>
            <li role="none"><a href="#" role="menuitem">사하구청</a></li>
            <li role="none"><a href="#" role="menuitem">금정구청</a></li>
            <li role="none"><a href="#" role="menuitem">강서구청</a></li>
            <li role="none"><a href="#" role="menuitem">연제구청</a></li>
            <li role="none"><a href="#" role="menuitem">수영구청</a></li>
            <li role="none"><a href="#" role="menuitem">사상구청</a></li>
            <li role="none"><a href="#" role="menuitem">기장군청</a></li>
            <li role="none"><a href="#" role="menuitem">부산광역시</a></li>
            <li role="none"><a href="#" role="menuitem">부산광역시의회</a></li>
            <li role="none"><a href="#" role="menuitem">서울특별시</a></li>
            <li role="none"><a href="#" role="menuitem">대구광역시</a></li>
            <li role="none"><a href="#" role="menuitem">인천광역시</a></li>
            <li role="none"><a href="#" role="menuitem">광주광역시</a></li>
            <li role="none"><a href="#" role="menuitem">대전광역시</a></li>
            <li role="none"><a href="#" role="menuitem">울산광역시</a></li>
            <li role="none"><a href="#" role="menuitem">경기도</a></li>
            <li role="none"><a href="#" role="menuitem">강원도</a></li>
            <li role="none"><a href="#" role="menuitem">울산광역시</a></li>
            <li role="none"><a href="#" role="menuitem">충청북도</a></li>
            <li role="none"><a href="#" role="menuitem">충청남도</a></li>
            <li role="none"><a href="#" role="menuitem">전라북도</a></li>
            <li role="none"><a href="#" role="menuitem">전라북남</a></li>
            <li role="none"><a href="#" role="menuitem">경상북도</a></li>
            <li role="none"><a href="#" role="menuitem">경상남도</a></li>
            <li role="none"><a href="#" role="menuitem">제주특별자치도</a></li>
            <li role="none"><a href="#" role="menuitem">세종특별자치도</a></li>
            <li role="none" class="btn-close-wrap">
              <button class="btn-close" role="menuitem">닫기</button>
            </li>
          </ul>
        </li>
        <!-- // 3 / 4 -->

        <!-- 4 / 4 -->
        <li class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="dropdown-content-related-institutions"
            aria-label="유관기관 바로가기"
          >
            유관기관 바로가기
            <i class="icon-plus"></i>
          </button>

          <ul
            id="dropdown-content-related-institutions"
            class="dropdown-content"
            role="menu"
          >
            <li role="none">
              <a href="#" role="menuitem">차량등록 사업소</a>
            </li>
            <li role="none">
              <a href="#" role="menuitem">체육시설관리 사업소</a>
            </li>
            <li role="none">
              <a href="#" role="menuitem">상수도 사업본부</a>
            </li>
            <li role="none">
              <a href="#" role="menuitem">건설안전시험 사업소</a>
            </li>
            <li role="none" class="btn-close-wrap">
              <button class="btn-close" role="menuitem">닫기</button>
            </li>
          </ul>
        </li>
        <!-- // 4 / 4 -->
      </ul>
    </div>
  </section>
  <!-- SHORTCUT -->

  <!-- MENU -->
  <section id="footer-menu">
    <div class="container">
      <ul>
        <li><a href="#" class="yellow">홈페이지 저작권 보호정책</a></li>
        <li><a href="#" class="blue">개인정보처리방침</a></li>
        <li><a href="#">이메일무단수집거부</a></li>
        <li><a href="#">사이트맵</a></li>
        <li><a href="#">오시는길</a></li>
      </ul>
    </div>
  </section>
  <!-- // MENU -->

  <!-- INFO -->
  <section id="footer-info">
    <div class="container">
      <a href="#" class="logo">
        <img
          src="/src/assets/images/logo_busanjin_footer.png"
          alt="부산진구 로고"
        />
      </a>

      <address>
        <p>47193 부산광역시 부산진구 시민공원로 30(부암동)</p>
        <p>Tel : 051-605-4000 Fax : 051-605-4444</p>
        <p>Copyright(C) Busanjin-gu office All Rights Reserved.</p>
      </address>

      <a href="#" class="logo-wa">
        <img
          src="/src/assets/images/logo_wa.png"
          alt="정보통신접근성 품질인증서"
        />
      </a>
    </div>
  </section>
  <!-- // INFO -->
</footer>
<!-- // FOOTER -->
