<!-- HEADER -->
<header id="header">
  <!-- HEADER TOP -->
  <section id="header-top">
    <div class="container">
      <div class="left">
        <div class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="drodpdown-content-external-site"
            aria-label="부산진구청 연관기관 메뉴 열기"
          >
            부산진구청
          </button>

          <ul id="drodpdown-content-external-site" class="content" role="menu">
            <li role="none"><a href="#" role="menuitem">부산진구청</a></li>
            <li role="none"><a href="#" role="menuitem">구청장실</a></li>
            <li role="none"><a href="#" role="menuitem">의회</a></li>
            <li role="none"><a href="#" role="menuitem">보건소</a></li>
            <li role="none"><a href="#" role="menuitem">부산진구신문</a></li>
            <li role="none"><a href="#" role="menuitem">문화관광</a></li>
            <li role="none"><a href="#" role="menuitem">평생학습관</a></li>
            <li role="none"><a href="#" role="menuitem">청소년예술학교</a></li>
            <li role="none">
              <a href="#" role="menuitem">어린이청소년도서관</a>
            </li>
            <li role="none">
              <a href="#" role="menuitem">희망교육지원센터</a>
            </li>
            <li role="none"><a href="#" role="menuitem">국민체육센터</a></li>
            <li role="none">
              <a href="#" role="menuitem">서면메디컬스트리트</a>
            </li>
            <li role="none">
              <a href="#" role="menuitem">일자리통합지원 플랫폼</a>
            </li>
            <li role="none"><a href="#" role="menuitem">청년플랫폼</a></li>
            <li role="none"><a href="#" role="menuitem">신청·예약</a></li>
            <li role="none"><a href="#" role="menuitem">계약정보공개</a></li>
            <li role="none"><a href="#" role="menuitem">재정정보공개</a></li>
            <li role="none">
              <button role="menuitem" class="btn-close">닫기</button>
            </li>
          </ul>
        </div>

        <form class="search">
          <input type="text" placeholder="검색어를 입력하세요." />
          <button
            type="submit"
            class="btn-submit"
            aria-label="검색어 제출"
          ></button>
        </form>
      </div>

      <div class="right">
        <div class="dust-forecast">
          <p class="date">2023년 03월 14일(화) 맑음 12.0℃</p>
          <p class="dust">미세먼지 보통(57㎍/㎥) 오존 보통(0.037PPM)</p>
        </div>

        <include src="components/header_sns.html"></include>

        <div class="font-area">
          <span class="current-font-size">
            <span class="blind">현재 글씨 크기</span>100%
          </span>
          <button class="btn-decrease" aria-label="글씨 크기 감소"></button>
          <button class="btn-increase" aria-label="글씨 크기 증가"></button>
        </div>

        <div class="dropdown">
          <button
            class="btn-toggle"
            aria-haspopup="true"
            aria-expanded="false"
            aria-controls="drodpdown-content-change-language"
            aria-label="언어 변경 메뉴 열기"
          >
            Language
          </button>

          <ul id="dropdown-content-change-language" class="content" role="menu">
            <li role="none"><a role="menuitem" href="#">English</a></li>
            <li role="none"><a role="menuitem" href="#">Chinese</a></li>
            <li role="none"><a role="menuitem" href="#">Japan</a></li>
            <li role="none">
              <button role="menuitem" class="btn-close">닫기</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- // HEADER TOP -->

  <!-- HEADER BOTTOM -->
  <section id="header-bottom">
    <div class="container">
      <a href="#" class="logo">
        <img
          src="/src/assets/images/logo_busanjin_header.png"
          alt="부산진구 로고"
        />
      </a>

      <div class="mobile-btns">
        <button class="btn-toggle-search-bar" aria-label="검색창 열기"></button>
        <button class="btn-open-sidebar" aria-label="대메뉴 열기">
          <i class="icon"></i>
        </button>
      </div>

      <div class="gnb-wrap">
        <div class="bg"></div>
        <div class="content">
          <header class="gnb-header">
            <div class="top">
              <a href="#" class="top-logo">
                <img
                  src="/src/assets/images/logo_busanjin_header.png"
                  alt="부산진구 로고"
                />
              </a>
              <button
                class="btn-close-sidebar"
                aria-label="사이드바 닫기"
              ></button>
            </div>

            <include src="components/header_sns.html"></include>

            <div class="select-list">
              <div class="select-wrap">
                <select name="external-site">
                  <option value="#">부산진구청</option>
                  <option value="#">구청장실</option>
                  <option value="#">의회</option>
                  <option value="#">보건소</option>
                  <option value="#">신문</option>
                  <option value="#">문화관광</option>
                  <option value="#">평생학습관</option>
                  <option value="#">청소년예술학교</option>
                  <option value="#">어린이청소년도서관</option>
                  <option value="#">희망교육지원센터</option>
                  <option value="#">국민체육센터</option>
                  <option value="#">서면메디컬스트리트</option>
                  <option value="#">일자리통합지원 플랫폼</option>
                  <option value="#">일자리창출교육지원센터</option>
                  <option value="#">청년플랫폼</option>
                  <option value="#">신청·예약</option>
                  <option value="#">계약정보공개</option>
                  <option value="#">재정정보공개</option>
                </select>
              </div>

              <div class="select-wrap">
                <select name="language">
                  <option>Language</option>
                  <option value="#">English</option>
                  <option value="#">Chinese</option>
                  <option value="#">Japan</option>
                  <option value="#">Korea</option>
                </select>
              </div>
            </div>
          </header>

          <nav class="gnb">
            <ul>
              <!-- GNB MEGA MENU 1 / 8 -->
              <li>
                <a href="#">
                  <span>소개</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left one">
                      <h3 class="title">소개</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">구청안내</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">오시는 길</a></li>
                          <li><a href="#">청사안내</a></li>
                          <li><a href="#">청사대관</a></li>
                          <li><a href="#">주차장이용</a></li>
                          <li><a href="#">조직도</a></li>
                          <li><a href="#">직원검색</a></li>
                          <li><a href="#">부서별 전화·팩스 번호</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">구청장실</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">구청장</a></li>
                          <li><a href="#">연설문</a></li>
                          <li><a href="#">구민과의 약속</a></li>
                          <li><a href="#">Go! 현장속으로</a></li>
                          <li><a href="#">소통하는 구청장</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">구정현황</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">위치/인구/행정지도</a></li>
                          <li><a href="#">연혁</a></li>
                          <li><a href="#">지명유래</a></li>
                          <li><a href="#">상징물</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">부산진구홍보</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">구정갤러리</a></li>
                          <li><a href="#">명소</a></li>
                          <li><a href="#">옛모습과 현재모습</a></li>
                          <li><a href="#">스토리텔링</a></li>
                          <li><a href="#">100가지 서면이야기</a></li>
                          <li><a href="#">날서면</a></li>
                          <li><a href="#">SNS캐릭터</a></li>
                          <li><a href="#">부산진구 홍보영상</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">국내외교류</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">국내교류</a></li>
                          <li><a href="#">국제교류</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">부서안내</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 1 / 8 -->

              <!-- GNB MEGA MENU 2 / 8 -->
              <li>
                <a href="#">
                  <span>민원</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left two">
                      <h3 class="title">민원</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">민원안내</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">본인서명사실확인제도</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">온라인민원신청</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">통합민원신청(정부24)</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">가족관계등록</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">가족관계등록안내</a></li>
                          <li><a href="#">가족관계등록서식</a></li>
                          <li><a href="#">가족관계등록(대법원)</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">여권민원</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">여권개요</a></li>
                          <li><a href="#">여권발급</a></li>
                          <li><a href="#">온라인 여권 재발급</a></li>
                          <li><a href="#">차세대 전자여권</a></li>
                          <li><a href="#">여권서식</a></li>
                          <li><a href="#">영문성명표기법</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">주요민원수수료</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">무인민원발급기안내</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">편의시책</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">민원FAQ</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li>
                            <a href="#">빅데이터로 알아보는 부산진구 민원</a>
                          </li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">민원편람/서식안내</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">행정서비스현장</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">행정서비스개요</a></li>
                          <li><a href="#">전문</a></li>
                          <li><a href="#">공통이행기준</a></li>
                          <li><a href="#">부서별행정서비스헌장</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">스마트 무인택배함</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">스마트 무인택배함</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 2 / 8 -->

              <!-- GNB MEGA MENU 3 / 8 -->
              <li>
                <a href="#">
                  <span>행정</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left three">
                      <h3 class="title">행정</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">세무</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">세금의 분류</a></li>
                          <li><a href="#">지방세</a></li>
                          <li><a href="#">지방세 상담챗봇 서비스</a></li>
                          <li><a href="#">지방세 납부하기</a></li>
                          <li><a href="#">지방세 미리계산해보기</a></li>
                          <li><a href="#">개별주택가격 열람</a></li>
                          <li><a href="#">주택외건물시가표준액</a></li>
                          <li><a href="#">부동산계약해제</a></li>
                          <li><a href="#">부동산취득세</a></li>
                          <li><a href="#">마을세무사</a></li>
                          <li><a href="#">지방세 납세자보호관 제도</a></li>
                          <li><a href="#">지방자치단체 선정 대리인 제도</a></li>
                          <li><a href="#">지방세국세통합민원실</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">법무</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">자치법규</a></li>
                          <li><a href="#">헌행법령</a></li>
                          <li><a href="#">온라인 행정심판청구</a></li>
                          <li><a href="#">규제개혁신문고</a></li>
                          <li><a href="#">무료법률상담신청</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">일자리ㆍ경제</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">일자리통합지원 플랫폼</a></li>
                          <li><a href="#">중소기업지원</a></li>
                          <li><a href="#">물가정보</a></li>
                          <li><a href="#">착한가격업소</a></li>
                          <li><a href="#">대규모점포현황</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">환경ㆍ위생ㆍ동물</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">환경행정</a></li>
                          <li><a href="#">원산지표시 위반정보</a></li>
                          <li><a href="#">석면관리정보</a></li>
                          <li><a href="#">동물등록</a></li>
                          <li><a href="#">동물사랑배움터</a></li>
                          <li><a href="#">하수도분야</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">청소</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">청소행정</a></li>
                          <li><a href="#">생활폐기물</a></li>
                          <li><a href="#">일회용품</a></li>
                          <li><a href="#">사업장폐기물배출신고</a></li>
                          <li><a href="#">음식물쓰레기발생량</a></li>
                          <li><a href="#">정화조관리</a></li>
                          <li><a href="#">청소관련시설</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">재난·안전</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">제설함 위치</a></li>
                          <li><a href="#">대피시설안내</a></li>
                          <li><a href="#">재난 발생시 행동요령</a></li>
                          <li><a href="#">안전신고</a></li>
                          <li><a href="#">생활안전체험관</a></li>
                          <li><a href="#">CCTV관제센터</a></li>
                          <li><a href="#">생활안전지도</a></li>
                          <li><a href="#">민방위비상대피·급수시설</a></li>
                          <li><a href="#">민방위교육</a></li>
                          <li><a href="#">반려동물을 위한 재난 대처법</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">중대재해예방</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">안전보건 경영방침</a></li>
                          <li><a href="#">산업안전보건위원회</a></li>
                          <li><a href="#">안전보건 자료실</a></li>
                          <li><a href="#">아차사고 신고</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">교통</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">대중교통</a></li>
                          <li><a href="#">자동차종합검사일조회</a></li>
                          <li><a href="#">주차</a></li>
                          <li><a href="#">승용차요일제</a></li>
                          <li><a href="#">차량등록변경신청</a></li>
                          <li><a href="#">교통정보</a></li>
                          <li><a href="#">이륜자동차</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">도시·건축</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">공사장 가림막 갤러리</a></li>
                          <li><a href="#">옥외광고물안내</a></li>
                          <li><a href="#">인터넷건축행정시스템</a></li>
                          <li><a href="#">재개발현황</a></li>
                          <li><a href="#">도로굴착(부산생활지도)</a></li>
                          <li><a href="#">시민공원 주변 재정비 계획</a></li>
                          <li><a href="#">건설공사 하도급신고센터</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">토지·부동산</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">개별공시지가</a></li>
                          <li>
                            <a href="#">개별공시지가 문자알림 서비스 신청</a>
                          </li>
                          <li><a href="#">공유재산</a></li>
                          <li><a href="#">조상땅찾기</a></li>
                          <li><a href="#">도로명주소</a></li>
                          <li><a href="#">부동산중개업안내</a></li>
                          <li><a href="#">부동산거래관리시스템</a></li>
                          <li><a href="#">부동산정보시스템</a></li>
                          <li><a href="#">부동산거래 전자계약시스템</a></li>
                          <li><a href="#">지적재조사사업</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 3 / 8 -->

              <!-- GNB MEGA MENU 4 / 8 -->
              <li>
                <a href="#">
                  <span>교육</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left four">
                      <h3 class="title">교육</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">청소년예술학교</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">희망교육지원센터</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">어린이청소년도서관</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">평생학습관</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">정보화교육</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 4 / 8 -->

              <!-- GNB MEGA MENU 5 / 8 -->
              <li>
                <a href="#">
                  <span>복지</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left five">
                      <h3 class="title">복지</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">복지행정</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">단체 및 시설</a></li>
                          <li><a href="#">복지정책</a></li>
                          <li><a href="#">사회복지법인회의록</a></li>
                          <li><a href="#">지역사회보장협의체</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">여성가족</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">단체 및 시설</a></li>
                          <li><a href="#">복지정책</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">아동친화도시</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">아동친화도시란</a></li>
                          <li>
                            <a href="#"
                              >아동친화도시 조사 및 시민참여 조사보고서</a
                            >
                          </li>
                          <li><a href="#">아동의 4대 권리</a></li>
                          <li><a href="#">아동권리 옹호관</a></li>
                          <li><a href="#">아동친화예산</a></li>
                          <li><a href="#">아동참여광장</a></li>
                          <li><a href="#">알림마당</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">아동청소년</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">단체 및 시설</a></li>
                          <li><a href="#">복지정책</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">청년</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">청년플랫폼</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">노인</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">복지시설</a></li>
                          <li><a href="#">복지정책</a></li>
                          <li><a href="#">공영 장례 지원</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">장애인</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">시설현황</a></li>
                          <li><a href="#">복지정책</a></li>
                          <li>
                            <a href="#">전동휠체어 급속충전소 설치현황</a>
                          </li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">복지 서비스 찾기</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li>
                            <a href="#"
                              >부산진구 (공공·민간) 복지 서비스 찾기</a
                            >
                          </li>
                          <li><a href="#">복지로 서비스 찾기</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 5 / 8 -->

              <!-- GNB MEGA MENU 6 / 8 -->
              <li>
                <a href="#">
                  <span>문화관광</span>
                </a>
              </li>
              <!-- // GNB MEGA MENU 6 / 8 -->

              <!-- GNB MEGA MENU 7 / 8 -->
              <li>
                <a href="#">
                  <span>공개</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left seven">
                      <h3 class="title">공개</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">정보공개</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">정보공개제도안내</a></li>
                          <li><a href="#">사전정보공표</a></li>
                          <li><a href="#">업무추진비</a></li>
                          <li>
                            <a href="#"
                              >장기근속·퇴직(예정)공무원 지원 예산집행 현황</a
                            >
                          </li>
                          <li><a href="#">정보목록</a></li>
                          <li><a href="#">정보공개청구</a></li>
                          <li><a href="#">공개된 정보</a></li>
                          <li><a href="#">정보공개편람</a></li>
                          <li><a href="#">조직운영 5대지표</a></li>
                          <li><a href="#">공공데이터 개방</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">정책실명제</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">정책실명제</a></li>
                          <li><a href="#">정책실명제 게시판</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">재정정보공개</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">자금운용현황</a></li>
                          <li><a href="#">세입현황</a></li>
                          <li><a href="#">세출현황</a></li>
                          <li><a href="#">현황보고서</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">예산</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">예산서</a></li>
                          <li><a href="#">지방재정공시</a></li>
                          <li><a href="#">공공시설 운영현황</a></li>
                          <li><a href="#">주요투자사업 추진현황</a></li>
                          <li><a href="#">중기재정계획</a></li>
                          <li><a href="#">재정건전성관리계획</a></li>
                          <li><a href="#">주민참여예산제</a></li>
                          <li><a href="#">결산서</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">구정계획</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">구정비전</a></li>
                          <li><a href="#">주요업무계획</a></li>
                          <li><a href="#">구정백서</a></li>
                          <li>
                            <a href="#">부산진구청장직 인수위원회 백서</a>
                          </li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">통계</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">주요통계</a></li>
                          <li><a href="#">통계연보</a></li>
                          <li><a href="#">사업체조사</a></li>
                          <li><a href="#">부산사회조사</a></li>
                          <li><a href="#">생활통계자료</a></li>
                          <li><a href="#">정책통계지도</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">감사</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">감사계획</a></li>
                          <li><a href="#">감사결과</a></li>
                          <li><a href="#">부패공직자제재현황</a></li>
                          <li><a href="#">공무수행사인현황공개</a></li>
                          <li><a href="#">공직윤리제도</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">전자기록관</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">기록관안내</a></li>
                          <li><a href="#">기록물현황</a></li>
                          <li><a href="#">법령 및 지침</a></li>
                          <li><a href="#">기록문화전시관</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">민관협치</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">협치 이행상황</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">고향사랑기부제</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">고향사랑기부제 소개</a></li>
                          <li><a href="#">고향사랑기부제 답례품</a></li>
                          <li>
                            <a href="#">고향사랑기부제 기부금액별 혜택 현황</a>
                          </li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">유동인구분석</a>
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 7 / 8 -->

              <!-- GNB MEGA MENU 8 / 8 -->
              <li>
                <a href="#">
                  <span>소통참여</span>
                  <i class="mobile-icon-plus"></i>
                </a>
                <div class="mega-menu">
                  <div class="mega-menu-container">
                    <div class="left eight">
                      <h3 class="title">소통참여</h3>
                      <p class="desc">부산의 중심, 도약하는 부산진구</p>
                    </div>

                    <div class="right">
                      <div class="column">
                        <h4 class="title">
                          <a href="#">공지사항</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">공지사항</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">공고</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">고시공고</a></li>
                          <li><a href="#">채용공고</a></li>
                          <li><a href="#">입찰공고</a></li>
                          <li><a href="#">입법예고</a></li>
                          <li><a href="#">분묘개장공고</a></li>
                          <li><a href="#">개인정보 제3자 제공</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">보도자료</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">보도자료</a></li>
                          <li><a href="#">국정홍보웹툰</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">부산진구홍보</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">부산진구 공보</a></li>
                          <li><a href="#">부산진구 신문</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">국민제안</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">제안신청</a></li>
                          <li><a href="#">공개제안</a></li>
                          <li><a href="#">공모제안</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">신고센터</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">부조리신고</a></li>
                          <li><a href="#">소극행정신고센터</a></li>
                          <li><a href="#">불친절공무원신고</a></li>
                          <li><a href="#">국무조정실 규제개혁신문고</a></li>
                          <li><a href="#">규제입증요청</a></li>
                          <li><a href="#">예산낭비신고</a></li>
                          <li><a href="#">불법 부동산중개행위</a></li>
                          <li><a href="#">공익신고센터</a></li>
                          <li><a href="#">음식물쓰레기 불편신고</a></li>
                          <li><a href="#">인권침해 상담·신고</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">설문조사</a>
                        </h4>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">칭찬합시다</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">친절시민알림방</a></li>
                          <li><a href="#">친절 공무원 추천</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">적극행정</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">제도소개</a></li>
                          <li><a href="#">시민추천</a></li>
                          <li><a href="#">법령유권해석</a></li>
                          <li><a href="#">카드뉴스</a></li>
                          <li><a href="#">알림/소식</a></li>
                        </ul>
                      </div>

                      <div class="column">
                        <h4 class="title">
                          <a href="#">자치분권</a>
                          <i class="mobile-icon-arrow"></i>
                        </h4>
                        <ul>
                          <li><a href="#">알림/소식</a></li>
                          <li><a href="#">추진실적</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <!-- // GNB MEGA MENU 8 / 8 -->
            </ul>
          </nav>
        </div>
      </div>

      <form class="search">
        <div class="inner">
          <input type="text" placeholder="검색어를 입력하세요." />
          <button
            type="submit"
            class="btn-submit"
            aria-label="검색어 제출"
          ></button>
        </div>
      </form>
    </div>
  </section>
  <!-- // HEADER BOTTOM -->
</header>
<!-- // HEADER -->
