@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'SCDream3';
  src: url('@/assets/fonts/SCDream3.otf') format('opentype');
}
