body,
div,
ul,
li,
dl,
dd,
dt,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
fieldset,
legend,
p,
select,
table,
th,
td,
tr,
textarea,
button,
form,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

body,
textarea,
select,
button,
table {
  font-family: 'SCDream3', 'Malgun Gothic', '맑은 고딕', sans-serif;
}

input {
  font-size: 1rem;
  font-family: 'Malgun Gothic', '맑은 고딕', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

em,
address {
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
